
<%- include('../partials/header') %>
    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles">
                <h4>Dashboard</h1>
            </div>
            <div class="container-fluid">
                <div class="row page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)"> Users</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Users List</a></li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header flex-wrap">
                                    <h4 class="card-title">Users List</h4>
                                    <a href="new" class="btn btn-primary me-3 mt-2 mt-sm-0"><i class="feather feather-user-plus"></i> Add User </a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive ticket-table ">
                                    <div id="example_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="example_length"></div><div id="example_filter" class="dataTables_filter"></div><table id="example" class="display dataTablesCard table-responsive-xl dataTable no-footer" style="min-width: 845px" role="grid" aria-describedby="example_info">
                                        <thead>
                                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                        
                                            : activate to sort column descending" style="width: 81.5625px;">
                                                <div class="form-check custom-checkbox ms-2">
                                                    <input type="checkbox" class="form-check-input" id="checkAll002" required="">
                                                    <label class="form-check-label" for="checkAll002"></label>
                                                </div>
                                            </th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 279.016px;">Name</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 141.125px;">Gender</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="User Type: activate to sort column ascending" style="width: 180.375px;">User Type</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="game genre: activate to sort column ascending" style="width: 232.375px;">sport genre</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="DOB: activate to sort column ascending" style="width: 203.188px;">DOB</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Body Size: activate to sort column ascending" style="width: 129.984px;">Body Size</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 147.375px;">Actions</th></tr>
                                        </thead>
                                        <tbody>
                                            <% users.forEach(function (u) { %>
                                        <tr class="odd" role="row">

                                                <td class="sorting_1">
                                                    <div class="form-check custom-checkbox ms-2">
                                                        <input type="checkbox" class="form-check-input" id="customCheckBox3" required="">
                                                        <label class="form-check-label" for="customCheckBox3"></label>
                                                    </div>
                                                </td>
                                                
                                                <td>						
                                                    <div>
                                                        <a href="/users/<%= u._id %>" class="h5"><%= u.name %></a>
                                                    </div>
                                                    <small class="fs-12 text-muted"> <span class="font-weight-normal1"><%= u.email %></span></small> 
                                                </td>

                                                <td><%= u.gender %></td>

                                                <td><%= u.type %></td>

                                                <td>
                                                    <span class="badge light badge-success"><%= u.sport %></span>
                                                </td>

                                                <td>
                                                    <span class="badge light  badge-danger"><%= u.DOB %></span>
                                                </td>

                                                <td>
                                                    <span class="badge badge-success"><%= u.bodySize %></span>
                                                </td>
                                
                                                <td>
                                                    <div class="d-flex">
                                                        <!-- Edit user  -->
                                                        <a class="btn btn-primary shadow btn-xs sharp me-1" href="/users/<%= u._id %>/edit"><i  class="fas fa-pencil-alt"></i></a>
                                                                        
                                                        <!-- Delete user  -->
                                                        <form action="/users/delete?id=<%= u._id %>&_method=DELETE" method="POST">
                                                            <button class="btn btn-danger shadow btn-xs sharp" type="submit"><i class="fa fa-trash"></i></button>
                                                
                                                          </form>
                    
                                                    </div>
                                                </td>
                                                <%  }); %>
       
                                            </tr></tbody>
                                    </table></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Content body end
    ***********************************-->
        <%- include('../partials/footer') %>