<%- include('../partials/header') %>
<div class="content-body">
<div class="card-body col">
    <!-- need edit design -->
    <h1>User Details</h1>
    <hr> 
        <h2>Type: </h2>
        <h3><%= user.type %></h3>
        <hr>
        <h2>email: </h2>
        <h3><%= user.email %></h3>
        <hr>
        <h2>sport: </h2>
        <h3><%= user.sport %></h3>
        <hr>
        <h2>height: </h2>
        <h3><%= user.height %></h3>
        <hr>
        <h2>weight: </h2>
        <h3><%= user.weight %></h3>
        <hr>
        <h2>DOB: </h2>
        <h3><%= user.DOB %></h3>
        <hr>
        <h2>gender: </h2>
        <h3><%= user.gender %></h3>
        <hr>
        <h2>bodySize: </h2>
        <h3><%= user.bodySize %></h3>
        <hr>
        <h2>footSize: </h2>
        <h3><%= user.footSize %></h3>
        <hr>
        </section>
        <!-- Delete user 
        <form action="/users/?_method=DELETE" method="POST">
            <button class="btn btn-danger shadow btn-xs sharp" type="submit"><i class="fa fa-trash"></i></a></button>
          </form> -->
 </div>

<%- include('../partials/footer') %>