<%- include('../partials/header') %>
<div class="content-body">
<div class="card-body col">
    <h1>User Details</h1>
    <hr> 
        <h2>Type: </h2>
        <h3><%= user.type %></h3>
        <hr>
        <h2>email: </h2>
        <h3><%= user.email %></h3>
        <hr>
        <h2>sport: </h2>
        <h3><%= user.sport %></h3>
        <hr>
        <h2>height: </h2>
        <h3><%= user.height %></h3>
        <hr>
        <h2>weight: </h2>
        <h3><%= user.weight %></h3>
        <hr>
        <h2>DOB: </h2>
        <h3><%= user.formattedDOB %></h3>
        <hr>
        <h2>gender: </h2>
        <h3><%= user.gender %></h3>
        <hr>
        <h2>bodySize: </h2>
        <h3><%= user.bodySize %></h3>
        <hr>
        <h2>footSize: </h2>
        <h3><%= user.footSize %></h3>
        <hr>
        </section>
 </div>

<%- include('../partials/footer') %>